@{
    ViewBag.Title = "Sitemap";
}

<h2>UVote Sitemap</h2>
<hr />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <a href="#" class="list-group-item disabled">
                Cras justo odio
            </a>
            <a href="/Home/About/" class="list-group-item">About</a>
            <a href="/Home/Contact/" class="list-group-item">Contact</a>
            <a href="/Home/FAQ/" class="list-group-item">FAQ</a>
            <a href="#" class="list-group-item">IT support</a>
            <a href="#" class="list-group-item">HR</a>
            <a href="#" class="list-group-item">Careers</a>
            <a href="#" class="list-group-item">Library</a>
            <a href="#" class="list-group-item">IT support</a>
        </div>
    </div>
</div>