@using UVote.Models
@model IEnumerable<Election>
@{
    ViewBag.Title = "Index";
}
@section Logged{
    @if (Session["studentNumber"] == null)
    {
        Response.Redirect(Url.Action("Login", "Vote"));
    }
}

<h2>Pending campaigns</h2>
<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @if (Model == null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>No pending campaigns!</strong>.
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                using (Html.BeginForm("Index", "Vote", FormMethod.Post, new { id = @item.RoleTitle }))
                {

                    <div class="form-inline">
                        <p>@item.RoleTitle</p> 
                        <input type="submit" name="submit" class="btn btn-info" value="View" />
                        @Html.Hidden("CampaignId", @item.CampaignId)
                    </div>
                    <hr />
                    
                }
            }
        }
    </div>
</div>
